{# Search form #}
<form class="shipDocsNav-search-form">
  <i class="shipDocsNav-search-icon"></i>
  <input id="shippable-search" type="search" class="shipDocsNav-search-input st-search-input" placeholder="Search...">
</form>

<ul class="leftNav">
  {# Loop through all the main sections in the navigation. #}
  {% for main_section in nav %}
    {# If the main section matches the main section of the current page, display it. Skip otherwise. #}
    {% if main_section.title in page.meta.main_section %}
      {% include 'partials/_section.html' %}
    {% endif %}
  {% endfor %}
</ul>
