<!-- /Static navbar -->
<nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
  <!-- Start Top Search -->
  <div class="top-search">
    <div class="container">
      <div class="input-group">
        <span class="input-group-addon"><i class="ion-search"></i></span>
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-addon close-search"><i class="ion-android-close"></i></span>
      </div>
    </div>
  </div>
  <!-- End Top Search -->
  <div class="containerpad">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand flex-center" href="/">
        <img src="/static/images/shippable-logos/shippable-jfrog-logo-white.png" alt="Shippable logo white version" class="logo-default">
        <img src="/static/images/shippable-logos/shippable-jfrog-logo-dark.png" alt="Shippable logo dark version" class="logo-scroll">
      </a>
    </div>
    <div id="navhead">
      <ul class="nav navbar-nav navbar-right">
        <li {% if "Getting started" in meta.main_section %} class="active" {% endif %}>
          <a href="/">Getting Started</a>
        </li>
        <li {% if "Platform" in meta.main_section %} class="active" {% endif %}>
          <a href="/platform/overview">Platform</a>
        </li>
        <li {% if "CI" in meta.main_section %} class="active" {% endif %}>
          <a href="/ci/why-continuous-integration/">CI</a>
        </li>
        <li {% if "CD" in meta.main_section %} class="active" {% endif %}>
          <a href="/deploy/continuous-delivery/">CD</a>
        </li>
        <li {% if "IT Ops" in meta.main_section %} class="active" {% endif %}>
          <a href="/provision/why-infrastructure-provisioning">IT Ops</a>
        </li>
        <li {% if "Shippable Server" in meta.main_section %} class="active" {% endif %}>
          <a href="/platform/server/overview">Shippable Server</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
