<ul class="nav">
  <li>
    <a href="{{ repo_url }}{% if current_page %}/edit/master/sources/{{ current_page.input_path }}{% endif %}">
      <i class="ion-edit"></i> &nbsp;
      Edit this page
    </a>
  </li>
  <li>
    <a href="https://github.com/Shippable/support/issues/new">
      <i class="ion-help"></i> &nbsp;
      Get help
    </a>
  </li>
{% if toc|first and toc|first|attr('children') %}
  <li>
    <span class="shipNav-item-title">ON THIS PAGE</span>
  </li>
  {% for toc_item in toc %}
    {% for toc_h2_item in toc_item.children %}
      <li>
        <a href="{{ toc_h2_item.url }}">
          {{ toc_h2_item.title }}
        </a>
        {% if toc_h2_item.children %}
        <ul class="shipNav">
          {% for toc_h3_item in toc_h2_item.children %}
            <li>
              <a href="{{ toc_h3_item.url }}" class="shipNav-item-link">
                {{ toc_h3_item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  {% endfor %}
{% endif %}
</ul>
