<ul class="nav">
  <li>
    <!--HubSpot Call-to-Action Code -->
    <span class="hs-cta-wrapper" id="hs-cta-wrapper-c3829d23-b3b6-4391-9c81-c79a2c462680">
      <span class="hs-cta-node hs-cta-c3829d23-b3b6-4391-9c81-c79a2c462680" id="hs-cta-c3829d23-b3b6-4391-9c81-c79a2c462680"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
        <a href="https://cta-redirect.hubspot.com/cta/redirect/362403/c3829d23-b3b6-4391-9c81-c79a2c462680" >
          <img class="hs-cta-img" id="hs-cta-img-c3829d23-b3b6-4391-9c81-c79a2c462680" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/362403/c3829d23-b3b6-4391-9c81-c79a2c462680.png"  alt="Get Started For Free"/>
        </a>
      </span>
      <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
      <script type="text/javascript"> hbspt.cta.load(362403, 'c3829d23-b3b6-4391-9c81-c79a2c462680', {}); </script>
    </span><!-- end HubSpot Call-to-Action Code -->
  </li>
  <div class="space-20"></div>
  <li>
    <a href="{{ repo_url }}{% if current_page %}/edit/master/sources/{{ current_page.input_path }}{% endif %}" target="_blank">
      <i class="ion-edit"></i> &nbsp;
      Edit this page
    </a>
  </li>
  <li>
    <a href="https://github.com/Shippable/support/issues/new" target="_blank">
      <i class="ion-help"></i> &nbsp;
      Get help
    </a>
  </li>

{% if toc|first and toc|first|attr('children') %}
  <li>
    <span class="shipNavItemTitle">ON THIS PAGE</span>
  </li>
  {% for toc_item in toc %}
    {% for toc_h2_item in toc_item.children %}
      <li>
        <a href="{{ toc_h2_item.url }}">
          {{ toc_h2_item.title }}
        </a>
        {% if toc_h2_item.children %}
        <ul class="shipNav">
          {% for toc_h3_item in toc_h2_item.children %}
            <li>
              <a href="{{ toc_h3_item.url }}" class="subSubSectionLink">
                {{ toc_h3_item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  {% endfor %}
{% endif %}
</ul>
