{% if sub_sub_section.children %}
  {# If the sub-sub-section contains children, then display a dropdown. #}
  {% if sub_sub_section.title in page.meta.sub_sub_section %}
  <li class="subSubSection active">
  {% else %}
  <li class="subSubSection">
  {% endif %}
    <a class="subSubSectionHeader hasChildren">{{ sub_sub_section.title }}</a>
    <nav class="subSubSectionNav">
      {% for article in sub_sub_section.children %}
        {% if page.url == article.url %}
        <a class="subSubSectionLink current" href="{{ article.url }}">
        {% else %}
        <a class="subSubSectionLink" href="{{ article.url }}">
        {% endif %}
          {{ article.title }}
        </a>
      {% endfor %}
    </nav>
  </li>
{# If the sub-sub-section does not contain children, then display a link. #}
{% else %}
  <li>
    {% if page.url == sub_sub_section.url %}
    <a class="subSubSectionLink current" href="{{ sub_sub_section.url }}">
    {% else %}
    <a class="subSubSectionLink" href="{{ sub_sub_section.url }}">
    {% endif %}
      {{ sub_sub_section.title }}
    </a>
  </li>
{% endif %}
