$skin-color:#4aa3df; //replace this color code with your favorite one
$skin-dark:#1b4d6e;
$default-font: 'Roboto', sans-serif; //default font of this template
$title-font: 'Poppins', sans-serif; // title font of this template


