
/*

Project  : SAAS - For Saas Startups
Version      : v1.0
Author       : Design_mylife (Rakesh Sharma)
Support email: mylifedesign143@gmail.com
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700");
/*
Shippable style csss
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 10px;
  margin-top: 30px;
}

h1 {
  font-size: 32px;
  padding-right: 60px;
  border-bottom: 1px solid #cccccc;

}

h2 {
  border-bottom: 1px solid #cccccc;
  font-size: 28px;
}

h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

h5 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}

h6 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0px;
}

body {
  color: #333;
  font-size: 15px;
}

p {
  color: #333333;
  font-size: 15px;
  margin: 0 0 15px;
}

blockquote {
  color: #333;
  border-left: 5px solid #ddd;
  margin: 0 0 15px;
}

pre {
  margin: 0 0 15px;
}

.red-color {
  color : red;
}

.green-color {
  color: green;
}

.blue-color {
  color: #4aa3df;
}

fbold {
  font-weight:600;
}

.partners-list img {
  opacity: 1;
}

.white-color {
  color: #fff;
}

.dgrey-color {
  color: #333333;
}

/*Button overrides*/
.btn-primary {
  background: #DA5A5B;
  border: 2px solid #DA5A5B;
}

.btn-primary:focus {
  background: #DA5A5B;
  border: 2px solid #DA5A5B;
}

.btn-primary:hover {
  background: #DA5A5B;
  color: #000;
  border: 2px solid #DA5A5B;
}

.navbar-default.navbar-transparent .navbar-nav > li > a.btn-primary:hover {
  color: #DA5A5B;
}

.navbar-default.navbar-transparent .navbar-nav > li > a:hover {
  font-weight: 600;
}

.navbar-default.navbar-transparent.shrink .navbar-nav > li > a.btn-primary:hover {
  color: #DA5A5B;
}
.navbar-default.navbar-transparent.shrink .navbar-nav > li > a:hover {
  color: #DA5A5B;
}

.navbar-default.navbar-transparent .navbar-nav > .open > a, .navbar-default.navbar-transparent .navbar-nav > .open > a:focus, .navbar-default.navbar-transparent .navbar-nav > .open > a:hover, .navbar-default.navbar-transparent .navbar-nav > .active > a, .navbar-default.navbar-transparent .navbar-nav > .active > a:focus, .navbar-default.navbar-transparent .navbar-nav > .active > a:hover {
  background-color: #e4edf5;
  color: #333;
}

.navbar-default.navbar-transparent.shrink .navbar-nav > .open > a, .navbar-default.navbar-transparent.shrink .navbar-nav > .open > a:focus, .navbar-default.navbar-transparent.shrink .navbar-nav > .open > a:hover, .navbar-default.navbar-transparent.shrink .navbar-nav > .active > a, .navbar-default.navbar-transparent.shrink .navbar-nav > .active > a:focus, .navbar-default.navbar-transparent.shrink .navbar-nav > .active > a:hover {
  color: #DA5A5B;
}

.skin-bg {
  background-color: #064052;
}

.cta-skin {
  background-color: #064052;
}

.lemon-bg {
  background: #F2EAD5;
}



.list li {
  color: #333333;
}

.price-box.best-plan .price-header, .price-box.best-plan .price-footer {
  background: #DA5A5B;
}

.sidebar-widget .list-unstyled > li > a {
  color: #4aa3df;
}

.feature-box-center i {
  color: #333333;
}

.icon-040 {
    height: 40px;
}

.flex-center {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  #header-item-more {
    display: none;
  }
}

.post .blog-desc h3 {
  margin: 8px 0;
  text-transform: capitalize;
}
.post .blog-desc h3 a {
  color: #253340;
}
.post .blog-desc h3 a:hover {
  color: #4aa3df;
}

/* ------------------ */
.containerpad {
  padding-left: 20px;
  padding-right: 40px;
}

.navbar-default.navbar-transparent .navbar-brand img {
  bottom: 1em !important;
}

body {
  padding-top: 50px;
}

menu,ol.shipNav,small,ul.shipNav {
  margin: 0;
  padding: 0;
}

menu,ol.shipNav,ul.shipNav {
  list-style: none;
}

.shipNav {
  position: relative;
}

.shipNavItemTitle {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.shipContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  /*height: calc(100vh - 63px);*/
}

.shipContent,.shipContent-body {
  overflow-y: auto;
  overflow-x: hidden
}

.shipContent-body {
  -ms-flex: 1;
  flex: 1;
}

.shipContent-sidebar {
  padding: 2rem;
  background: #fafbfc;
  border-right: 1px solid #e4edf5;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 50px;
}

.shipDocsNav {
  position: relative;
  text-align: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.shipDocsNav-tab {
  display: inline-block;
  font-size: 1em;
  transition: all .3s;
  white-space: nowrap;
  padding: 1rem 0;
}

.shipDocsNav-tab+.shipDocsNav-tab {
  margin-left: 2rem;
}

.shipDocsNav-tab:focus,.shipDocsNav-tab:hover {
  color: #54d194;
}

.shipDocsNav-tab.active {
  color: #006cd1;
  border-bottom: 1px solid #006cd1;
  margin-bottom: -1px;
}

.shipDocsNav-search-form {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

.shipDocsNav-search-icon {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../ionicons/css/search.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  top: 13px;
  left: 16px;
}

.shipDocsNav-search-input {
  font-size: 1em;
  padding: 0 1rem 0 40px;
  line-height: 40px;
  transition: border-color .2s;
  width: 100%;
  outline: none;
  font-family: inherit;
  background: #fff;
  border: 1px solid #e4edf5;
  border-radius: 100px;
  color: #425e78;
}

.shipDocsNav-search-input::-webkit-input-placeholder {
  color: #aec3d6;
  transition: opacity .2s;
}

.shipDocsNav-search-input:-ms-input-placeholder {
  color: #aec3d6;
  transition: opacity .2s;
}

.shipDocsNav-search-input::placeholder {
  color: #aec3d6;
  transition: opacity .2s
}

.shipDocsNav-search-input:focus::-webkit-input-placeholder {
  opacity: .5;
}

.shipDocsNav-search-input:focus:-ms-input-placeholder {
  opacity: .5;
}

.shipDocsNav-search-input:focus::placeholder {
  opacity: .5;
}

/* ------------------ */
/* Navigation styling */

/* Main container */
.leftNav {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Subsection styling */
.subSection {
  margin-bottom: .5rem;
}

/* Subsubsection styling */
.subSubSection {
  margin-left: 3rem;
}

/* Hide all subsection navigation first. */
.subSection > .subSectionNav {
  display: none;
}

.subSubSection > .subSubSectionNav {
  display: none;
}

/* Display only the active subsection. */
.subSection.active > .subSectionNav {
  display: block;
}

.subSubSection.active > .subSubSectionNav {
  display: block;
}

.subSection.active > .subSectionHeader {
  color: #006cd1;
}

.subSubSection.active > .subSubSectionHeader {
  color: #006cd1;
}

.subSection.active > .subSectionHeader::before {
  transform: rotate(90deg);
}

.subSubSection.active > .subSubSectionHeader::before {
  transform: rotate(90deg);
}

/* Subsection navigation styling */
.subSectionNav {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.subSubSectionNav {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Subsection header styling */
.subSectionHeader {
  color: #333;
  font-size: 16px;
}

.subSectionHeader::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: .5em;
  background: no-repeat 50%;
  background-size: contain;
}

.subSubSectionHeader {
  display: block;
  line-height: 21px;
  margin-bottom: 1rem;
  color: #333;
  font-size: 15px;
}

.subSectionHeader.hasChildren::before {
  background-image: url(../ionicons/css/caret-closed.svg);
}

.subSubSectionHeader::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: .5em;
  background: no-repeat 50%;
  background-size: contain;
}

.subSubSectionHeader.hasChildren::before {
  background-image: url(../ionicons/css/caret-closed.svg);
}

.subSectionHeader.current:not(.hasChildren) {
  color: #006cd1;
}

/* Subsection link styling */
.subSubSectionLink {
  display: block;
  cursor: pointer;
  line-height: 21px;
  padding-left: 3rem;
  /*color: #6c89a5;*/
  color: #333;
  transition: opacity .2s;
  margin-bottom: 1rem;
  font-size: 15px;
}

.subSubSectionLink:focus, .subSubSectionLink:hover {
  color: #49b882;
}

.subSubSectionLink.current {
  color: #006cd1;
}

/* ---------------------- */
/* End navigation styling */

.shipContent-sidebar-title {
  font-size: 1em;
  font-feature-settings: "smcp","c2sc";
  font-variant: all-small-caps;
  color: #425e78;
  border-bottom: 1px solid #fbfaf9;
  padding-bottom: 1rem;
}

.shipContent-sidebar-title:empty {
  display: none;
}

.shipContent-main {
  /*max-width: 800px;*/
  padding: 5rem;
}

.shipContent-contents-description {
  margin-top: 2rem;
}

.shipContent-title {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -.645;
  line-height: 46px;
  color: #00386c;
  margin-bottom: 2rem;
}

.shipContent-footer {
  margin-top: 2rem;
}

.navbar-default.navbar-transparent {
  background-image: url("/static/images/shippable-logos/bg-crop.png");
  background-size:cover;
}

.navbar-default.navbar-transparent .navbar-brand img {
  position: inherit;
}

a {
  cursor: pointer;
}

#navhead {
  position: absolute !important;
  left: 50% !important;
  transform: translatex(-50%);
}

@media(max-width: 1280px) {
  .navbar-default .navbar-nav>li>a {
  font-size: 12px !important;
  }
}

img {
  max-width: 100%;
  padding: 2rem;
}

td,
th {
  padding: 10px;
  border: 1px solid #666;
}

th {
  text-align: center;
}

table {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.navbar-nav>li>a {
  font-size: 15px;
}

div.swagger-ui-wrap div.container {
  width: inherit;
}

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #e4edf5;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  border-bottom-color: 20px solid #999;
  cursor: pointer;
  color: #2B2B2B;
  padding: 15px 15px 15px 15px;
  border-bottom: 2px solid #e4edf5;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion p{
  font-weight: lighter;
  font-variant: small-caps;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: rgba(71, 143, 225, 0.26);
  border-radius: 15px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

.navbar-nav>li>a.active {
    color: #006cd1;
}

.nav>li>a {
  padding: 5px 15px;
}

.navbar-default.navbar-transparent .navbar-nav>li>a {
  font-size: 16px;
  padding: 15px 15px;
}
