/*
Blog Styles
*/
.post{
    background: #fff;
    .blog-desc{
        padding: 15px;
        h4{
            margin: 8px 0;
            text-transform:capitalize;
            a{
                color:#253340;
                &:hover{
                    color: $skin-color;
                }
            }
        }
    }
}

.post-meta{
    display:block;
    position:relative;
    padding-left:40px;
    &:before {
        position: absolute;
        top: 13px;
        left: 0;
        display: block;
        content: " ";
        width: 27px;
        height: 1px;
        background: #dadada;
    }
}
.about-author{
    padding:15px 15px;
    background-color:#f5f5f5;
    img{
        margin-right: 15px;
    }
    p{
        margin: 0px;
    }
    h5{
        margin-bottom: 0px;
        text-transform: uppercase;
    }
}
.comments-list{
    li{
        border-bottom:1px solid #ddd;
        padding: 10px 0;
        margin-bottom: 20px;
        &:nth-child(even){
            padding-left: 30px;
        }
        &:last-child{
            border-bottom:0px;
        }
    }
    img{
        margin-right: 15px;
        width: 50px;
    }
    h5{
        margin-bottom: 0px;
    }
    span{
        display: block;
        margin-bottom: 5px;
    }
    p{
        margin-bottom: 0px;
    }
}
.quick-news-list{
    >li{
        margin-bottom: 20px;
    }
    .date{
        float: left;
        color: rgba(0,0,0,0.3);
        font-family: $title-font;
        margin-right:20px;
        text-align:center;
        width:60px;
        span{
            display: block;
            font-size: 40px;

        }
    }
    .content{
        overflow: hidden;
        a{
            h4{
                margin-bottom: 5px;
            }
            &:hover{             
                h4{
                    color: $skin-color;
                }
            }
        }
        .quick-meta{
            a{
                color:  rgba(0,0,0,0.4);
                &:hover{

                    color: $skin-color;
                }
            }
        }
    }
}
.social-icons{
    font-size: 20px;
    a{
        color: #999;
        &:hover{
            color: $skin-color;
        }
    }
}